
<EditForm EditContext="@editContext" Context="EditFormContext" style="max-width:700px;">
    <DataAnnotationsValidator />
    <div class="d-flex justify-content-center pt-3">
        <DxFormLayout  CaptionPosition="CaptionPosition.Vertical">
            <DxFormLayoutItem Caption="Tên" ColSpanSm="12" ColSpanMd="12">
                <Template>
                    <DxTextBox @bind-Text=@users.UserName Enabled="false"></DxTextBox>
                    <div class="text-danger">
                        <ValidationMessage For="@(() => users.UserName)" />
                    </div>
                </Template>
            </DxFormLayoutItem>


            <DxFormLayoutItem ColSpanMd="12">
                <CaptionTemplate>
                    <span style="color:green">Mật khẩu cũ*</span>
                </CaptionTemplate>
                <Template>
                    <DxTextBox NullText="Mật khẩu"
                    @bind-Text=@users.Password
                    Password="true">
                        <Buttons>
                            <DxEditorButton Position=EditorButtonPosition.Left IconCssClass="bi bi-shield-lock" />

                        </Buttons>
                    </DxTextBox>
                    <div class="text-danger">
                        <ValidationMessage For="@(() => @users.Password)" />
                    </div>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem  ColSpanMd="12">
                <CaptionTemplate>
                    <span style="color:green">Mật khẩu mới*</span>
                </CaptionTemplate>
                <Template>
                    <DxTextBox NullText="Mật khẩu mới"
                    @bind-Text=@users.PasswordNew
                               Password="@showpass">
                        <Buttons>
                            <DxEditorButton Position=EditorButtonPosition.Left IconCssClass="bi bi-eye" Click="@(() => showpass = !showpass)" />

                        </Buttons>
                    </DxTextBox>
                    <div class="text-danger">
                        <ValidationMessage For="@(() => users.PasswordNew)" />
                    </div>
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12">
                <Template>
                    <div class="d-flex justify-content-center mb-2 gap-2">
                        <DxButton RenderStyle="ButtonRenderStyle.Primary" IconCssClass="bi bi-floppy" Text="ĐỔI MẬT KHẨU"  Click="@changepasswordAsync"/>
                    </div>
                </Template>
            </DxFormLayoutItem>
        </DxFormLayout>
    </div>
</EditForm>
@code {
    UserChange users { get; set; }
    private EditContext? editContext;
    bool showpass = true;

}
