@using BlazorBootstrap
@using DevExpress.Blazor;
@using NFCWebBlazor.App_ClassDefine;
@using System.Data
@using System.Collections.ObjectModel

<style>
    .my-grid {
    height: @heightgrid;
    }

    .dxbl-modal {
    --dxbl-popup-max-width: 1200px;
    }

</style>
@inject Model.ThemeColor themcolor;
<NFCWebBlazor.App_Admin.DialogMsg @ref="@dialogMsg"></NFCWebBlazor.App_Admin.DialogMsg>
<NFCWebBlazor.App_ClassDefine.DialogWindow @ref=@dxPopup>
    <BodyContentTemplate>
        @renderFragment
    </BodyContentTemplate>
</NFCWebBlazor.App_ClassDefine.DialogWindow>
<DxFlyout @ref=dxFlyoutchucnang
PositionTarget="@idflychucnang"
@bind-IsOpen=IsOpenfly
RestrictionTarget="#Navigation-Flyout-Customization"
AnimationType=FlyoutAnimationType.Fade
PreventCloseOnPositionTargetClick="true"
Width="320px"
Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
    <BodyTextTemplate>

        <div class="container">
            <div class="row gap-1">

                

                    <DxButton Visible=@Visilethemchitiet IconCssClass="bi bi-plus-circle" RenderStyle="ButtonRenderStyle.Primary" Text="THÊM CHI TIẾT" RenderStyleMode="ButtonRenderStyleMode.Outline" Click="@AddItemAsync">
                    </DxButton>
               
              

            </div>


        </div>
    </BodyTextTemplate>

</DxFlyout>
<DxGridLayout CssClass="w-100 ch-480">

    <Rows>

        <DxGridLayoutRow Height="auto" />
        <DxGridLayoutRow />
    </Rows>
    <Items>
        <DxGridLayoutItem Row="0">
            <Template>
                <div class="p-2 pt-0 mb-2 bg-white border rounded-bottom-2">

                    <div>

                        <DxFormLayout CssClass="w-100 mt-3">

                            <DxFormLayoutItem ColSpanSm="12" ColSpanMd="6" ColSpanLg="4" CaptionPosition="CaptionPosition.Vertical">
                                <CaptionTemplate>
                                    Tên sản phẩm
                                </CaptionTemplate>
                                <Template>
                                    <DxComboBox TextFieldName="TenSPSearch"
                                    ValueFieldName="MaSP"
                                    CssClass="cw-480"
                                    Data="@lstsanpham"
                                    @bind-Value=MaSPSelected
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode=ListRenderMode.Virtual
                                    SearchTextParseMode=ListSearchTextParseMode.GroupWordsByAnd
                                    SearchMode="ListSearchMode.AutoSearch"
                                    ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto />


                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="12" ColSpanMd="6" ColSpanLg="4" CaptionPosition="CaptionPosition.Vertical">
                                <CaptionTemplate>
                                    Tình trạng
                                </CaptionTemplate>
                                <Template>
                                    <ComboboxFilteredString @ref=txtTinhTrang TextFieldName="@nameof(DataDropDownList.FullName)"
                                    ValueFieldName="@nameof(DataDropDownList.Name)"
                                    CssClass="cw-480"
                                    TypeName="NVL_TinhTrang"
                                    SearchFilterCondition="ListSearchFilterCondition.Contains"
                                    ListRenderMode=ListRenderMode.Virtual
                                    SearchTextParseMode=ListSearchTextParseMode.GroupWordsByAnd
                                    SearchMode="ListSearchMode.AutoSearch"
                                    ClearButtonDisplayMode=DataEditorClearButtonDisplayMode.Auto />


                                </Template>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" CaptionPosition="CaptionPosition.Vertical">
                                <DxRadioGroup Items="@CheckReportShow"
                                Layout="RadioGroupLayout.Horizontal"
                                @bind-Value="@reportselectde"

                                CssClass="dx-demo-radio-group">

                                </DxRadioGroup>
                            </DxFormLayoutItem>
                        </DxFormLayout>

                    </div>

                </div>

            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="1">
            <Template>
                <div>
                    <DxLoadingPanel @bind-Visible="@PanelVisible"
                    IsContentBlocked="true"
                    ApplyBackgroundShading="true"
                    IndicatorAreaVisible="false"
                    Text="Đang xử lý...">
                        <DxGrid @ref="Grid" Data="@lstdata"
                        id="customGrid" CssClass="my-grid"
                        AutoExpandAllGroupRows="false"
                        TextWrapEnabled="false"
                        FocusedRowEnabled="false"
                        ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"

                        VirtualScrollingEnabled="true"
                        PagerPosition="GridPagerPosition.Bottom"


                        PageSizeSelectorAllRowsItemVisible="true"
                        ShowFilterRow=true>
                            <ToolbarTemplate>
                                <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                                    <DxToolbarItem Text="Xem" IconCssClass="bi bi-search" RenderStyle="ButtonRenderStyle.Primary" Click="@searchAsync">
                                    </DxToolbarItem>
                                    <DxToolbarItem Text="Thêm mới" IconCssClass="bi bi-plus-circle" RenderStyle="ButtonRenderStyle.Success" Click="@AddItemAsync">
                                    </DxToolbarItem>
                                    <DxToolbarItem Text="Xuất Excel" IconCssClass="bi bi-filetype-xlsx" RenderStyle="ButtonRenderStyle.Secondary" Click="@(()=> Grid.ExportToXlsxAsync("ExportHangHoa"))">
                                    </DxToolbarItem>
                                    <DxToolbarItem Text="Chọn cột" Click="@(()=>Grid.ShowColumnChooser())" IconCssClass="bi bi-layout-text-window-reverse" />
                                    <DxToolbarItem Text="Import từ Excel" IconCssClass="bi bi-filetype-xlsx" RenderStyle="ButtonRenderStyle.Success" Click="@ImportExcelAsync">
                                    </DxToolbarItem>
                                </DxToolbar>
                            </ToolbarTemplate>
                            <Columns>
                                <DxGridDataColumn FieldName="@nameof(SanPhamShow.Serial)"  Width="150" Caption=" ">
                                    <CellDisplayTemplate>
                                        @{
                                            SanPhamShow sanPhamShow;
                                            if (context.DataItem != null)
                                                sanPhamShow = (SanPhamShow)context.DataItem;
                                            else
                                                sanPhamShow = new SanPhamShow();
                                        }
                                        <span>
                                            <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                            id="@idelement(sanPhamShow.Serial)" @onclick="@(()=>ShowFlyout(sanPhamShow))"><i class="bi bi-list-stars me-1"></i>CHỨC NĂNG</a>
                                        </span>

                                    </CellDisplayTemplate>
                                </DxGridDataColumn>

                                <DxGridDataColumn FieldName="@nameof(SanPhamShow.KhachHang)" Caption="Khách hàng" GroupIndex="0" />
                                <DxGridDataColumn FieldName="@nameof(SanPhamShow.MaSP)" Caption="Mã sản phẩm" Width="150" />
                                <DxGridDataColumn FieldName="@nameof(SanPhamShow.TenSP)" Caption="Tên sản phẩm" />
                                <DxGridDataColumn FieldName="@nameof(SanPhamShow.TinhTrang)" Caption="Tình trạng" Width="200">
                                    <CellDisplayTemplate>
                                        @{
                                            SanPhamShow sanPhamShow;
                                            if (context.DataItem != null)
                                                sanPhamShow = (SanPhamShow)context.DataItem;
                                            else
                                                sanPhamShow = new SanPhamShow();
                                        }
                                        <div class="row">
                                            <div class="col gap-1">
                                                <img src="@sanPhamShow.PathImg" height="20" width="20" />
                                                <span>@sanPhamShow.TinhTrang</span>
                                            </div>
                                        </div>
                                    </CellDisplayTemplate>
                                </DxGridDataColumn>
                            </Columns>
                            <DetailRowTemplate>
                                <DxTabs>
                                   
                                        @{
                                            SanPhamShow sanPhamShow = (SanPhamShow)context.DataItem;
                                        }
                                        <Detail_DinhMucHangHoaRow sanPhamShowcrr="@sanPhamShow" lstdata="@sanPhamShow.lsthanghoaitem"></Detail_DinhMucHangHoaRow>
                                   
                                </DxTabs>

                            </DetailRowTemplate>
                        </DxGrid>
                    </DxLoadingPanel>
                </div>
            </Template>
        </DxGridLayoutItem>


    </Items>
</DxGridLayout>
@code {
    [Inject] BrowserService browserService { get; set; }
    bool PopupVisible { get; set; } = false;
    DialogWindow? dxPopup { get; set; }
    RenderFragment? renderFragment { get; set; }
    DialogMsg? dialogMsg { get; set; }
    public string? random { get; set; }

    string heightgrid = "500px";
    string headerform = "";

    ComboboxFilteredString txtTinhTrang { get; set; }
    DateTime? dateTime { get; set; }
    string MaSPSelected { get; set; }
    List<SanPhamDropDown> lstsanpham { get; set; }
    bool chkcodinhmuc { get; set; } = true;
    bool chkall{ get; set; }=false; 
    bool Visilethemchitiet = true, Visilechinhsua = true, Visiledelete = true, Visilethemfile = true;
    List<SanPhamShow> lstdata { get; set; } = new List<SanPhamShow>();
    IGrid? Grid { get; set; }
    DxFlyout? dxFlyoutchucnang { get; set; }
    public string? idflychucnang { get; set; }
    bool IsOpenfly { get; set; } = false;
    App_ClassDefine.ClassProcess prs = new ClassProcess();
    bool PanelVisible { get; set; } = false;
    IEnumerable<string> CheckReportShow = new[] {
        "Tất cả",
        "Chỉ những mã có định mức"

    };
    string reportselectde = "Chỉ những mã có định mức";
    protected override async Task OnInitializedAsync()
    {
        await loadAsync();
        // return base.OnInitializedAsync();
    }
    public string idelement(int? serial)
    {
        if (serial == null)
            string.Format("flychucnang_{0}_{1}", random, serial);
        if (random == null)
        {
            random = prs.RandomString(9);
        }
        return string.Format("flychucnang_{0}_{1}", random, serial);
    }
    private async Task loadAsync()
    {

        var dimension = await browserService.GetDimensions();
        // var heighrow = await browserService.GetHeighWithID("divcontainer");
        int height = dimension.Height - 90;
        heightgrid = string.Format("{0}px", height);
        CheckQuyen = await phanQuyenAccess.CreateDinhMucVatTu(Model.ModelAdmin.users);

        await loaddatadropdownAsync();
        // var query=ModelData.L
    }



}
